<div class="card">
    <div class="card-body">
        <h1>{{linguagens.titulo}}</h1>
        <br>
        <hr>
        <h6>{{linguagens.descricao}}</h6>
        <br>
        <small>Data de Publicação: {{#formatDate linguagens.data}}{{/formatDate}}</small>
        <br>
        <br>
        <hr>
        <a href="/pages/linguagens" class="voltar">Voltar</a>
    </div>
</div>