body{
    background-image: url(../image/fundo.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
}
label.lcabecalho{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(112, 110, 110);
    margin-right: 10px;
    margin-left: 10px;
}
img{
    margin-top: 10px;
    margin-right: 850px;
}
a{
    text-decoration: none;
}
button.novo{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(112, 110, 110);
    height: 40px;
    margin-left: 0px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.7;
}
button.novo:hover{
    opacity: 1;
}
div#conteudo{
    height: 500px;
    width: 1200px;
}
footer#rodape{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(87, 85, 85);
    background-color: rgb(194, 194, 194);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 6px;
}
footer#rodape label{
    margin-top: 20px;
}
@media screen and (max-width: 400px) {
    body {
      background-image: url(../image/fundo.jpg);
      font-family: "Roboto Condensed", sans-serif;
      position: absolute;
    }
    div {
      margin-top: 80px;
      margin-bottom: 900px;
    }
    label.lcabecalho {
      font-size: 1.8rem;
      font-weight: bold;
      color: rgb(112, 110, 110);
      margin-right: 10px;
      margin-left: 10px;
    }
    img {
      margin-top: 10px;
      margin-right: 480px;
    }
    footer#rodape{
        width: 980px;
    }
  }
  @media screen and (max-width: 900px) {
      body {
        background-image: url(../image/fundo.jpg);
        font-family: "Roboto Condensed", sans-serif;
        position: absolute;
      }
      div {
        margin-top: 80px;
        max-height: 800px;
      }
      label.lcabecalho {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgb(112, 110, 110);
        margin-right: 10px;
        margin-left: 10px;
      }
      img {
        margin-top: 10px;
        margin-right: 480px;
      }
      footer.rodape{
          margin-top:600px;
      }
    }